    <!-- 加载动画蒙层 -->
    <div id="loading">
        <img src="/static/images/loading.gif" alt="加载中">
    </div>
    <div class="title-bar" data-responsive-toggle="top-navigator" data-hide-for="medium">
        <button class="menu-icon" type="button" data-toggle></button>
        <div class="title-bar-title"><a href="/">微.酷</a></div>
    </div>
    
    <!-- 导航栏 -->
    <nav class="top-bar" id="top-navigator">
        <section class="top-bar-left">
            <ul class="menu">
                <li class="menu-text show-for-medium">
                    <a href="/"><img src="/static/images/icon.jpg" alt="微.酷微电影分享平台"></a>
                </li>
                <li><a href="/category?type=青春">青春</a></li>
                <li><a href="/category?type=励志">励志</a></li>
                <li><a href="/category?type=爱情">爱情</a></li>
                <li><a href="/category?type=搞笑">搞笑</a></li>
                <li><a href="/category?type=创意">创意</a></li>
                <li><a href="/category?type=人生">人生</a></li>
                <li><a href="/category?type=科幻">科幻</a></li>
            </ul>
        </section>

        <section class="top-bar-right">
            <ul class="dropdown menu"  data-dropdown-menu>
                <li class="hide-for-medium-only">
                    <input type="search" placeholder="搜索" id="search-input">
                </li>
                <% if(!user) {%>
                <li id="bar-login"><a data-toggle="login-modal">登录</a></li>
                <li id="bar-register"><a data-toggle="register-modal">注册</a></li>
                <% } else {%>
                <li><a href="/user/<%= user.username %>"><%= user.username %></a></li>
                <li><a href="" id="bar-logout">退出</a></li>
                <input type="hidden" id="storage-name" value="<%= user.username %>"/>
                <input type="hidden" id="storage-nickname" value="<%= user.nickname %>"/>
                <input type="hidden" id="storage-avator" value="<%= user.avator %>"/>
                <% } %>
            </ul>
        </section>
    </nav>
    <!-- 导航栏结束 -->

    <!-- 登录框 -->
    <div class="small reveal" id="login-modal" data-reveal>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <h5 class="float-center">用户登录</h5>
            <form action="#" method="post" role="form">
                <div class="input-group">
                    <span class="input-group-label">用户名</span>
                    <input class="input-group-field login-name" type="text" placeholder="请输入用户名" required>
                </div>
                <div class="input-group">
                    <span class="input-group-label">密码</span>
                    <input class="input-group-field login-psw" type="password" placeholder="密码长度不小于6" required>
                </div>
                <p class="form-error is-visible login-tip"></p>
                <button type="button" class="button float-right" id="login">登录</button>
            </form>
        </div>
    </div>

    <!-- 注册弹框 -->
    <div class="medium reveal" id="register-modal" data-reveal>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <h5 class="float-center">新用户注册</h5>
            <form id="register-form" method="post" role="form">
                <div class="input-group">
                    <span class="input-group-label">用户名</span>
                    <input class="input-group-field reg-name" type="text" name="username" placeholder="请设置用户名">
                </div>
                <div class="input-group">
                    <span class="input-group-label">密码</span>
                    <input class="input-group-field reg-psw" type="password" name="password" placeholder="密码长度不小于6">
                </div>
                <div class="input-group">
                    <span class="input-group-label">密码</span>
                    <input class="input-group-field reg-psw-again" type="password"  placeholder="请再次输入密码">
                </div>
                <div class="input-group">
                    <input type="radio" value="man" name="gender" id="reg-man" checked> <label for="reg-man">男</label>
                    <input type="radio" value="woman" name="gender" id="reg-woman"> <label for="reg-woman">女</label>
                </div>
                <p class="form-error is-visible register-tip"></p>
                <span class="float-left"><small class="subheader">已有账户?&nbsp;</small><a href="#" class="default-blue" data-toggle="login-modal">去登录</a></span>
                <button type="button" class="button float-right" id="register">点击注册</button>
            </form>
        </div>
    </div>
