<!DOCTYPE <!DOCTYPE html>
<html>
<head>
     <% include head %>
     <title><%= title %></title>
</head>
<body>
<%- include header %>
    <!-- 轮播幻灯,只出现在medium和large屏幕 -->
    <div class="row orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-use-m-u-i="true">
        <ul class="orbit-container">
            <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">上一张</span>&#9664;</button>
            <button class="orbit-next" aria-label="next"><span class="show-for-sr">下一张</span>&#9654;</button>
            <li class="orbit-slide">
                <div class="slider-poster">
                    <a href="/movie/165"><img src="http://cs.vmovier.com/Uploads/cover/2016-01-04/568a339f0d618_cut.jpeg@600w_400h.jpg" alt="" class="thumbnail"></a>
                    <h5 class="text-center">《第23页》</h5>
                </div>
            </li>
            <li class="orbit-slide">
                <div class="slider-poster">
                   <a href="/movie/166"><img src="http://cs.vmovier.com/Uploads/post/2015-10-21/5626fdfe862cd.png" alt="" class="thumbnail"></a>
                   <h5 class="text-center">《美丽拳头》</h5>
                </div>
            </li>
            <li class="orbit-slide">
                <div class="slider-poster">
                    <a href="/movie/167"><img src="http://cs.vmovier.com/Uploads/cover/2015-10-28/56306d7aa1ffb_cut.jpeg@600w_400h.jpg" alt="" class="thumbnail"></a>
                    <h5 class="text-center">《少女懵懂爱情》</h5>
                </div>
            </li>
            <li class="orbit-slide">
                <div class="slider-poster">
                    <a href="/movie/160"><img src="http://cs.vmovier.com/Uploads/cover/2015-12-31/5684b2882c48d_cut.jpeg@600w_400h.jpg" alt="" class="thumbnail"></a>
                    <h5 class="text-center">《借来的时光》</h5>
                </div>
            </li>
        </ul>
        <nav class="orbit-bullets">
            <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
            <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
            <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
            <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
        </nav>
    </div>
    
    <!-- 视频列表 -->
    <div class="row small-up-2 medium-up-2 large-up-4" data-equalizer>
    <% for(var i = 0; i<data.length; i++) { %>
        <div class="column" data-equalizer-watch>
            <a href="/movie/<%= data[i].movieid %>">
                <img src="<%= data[i].post_src %>" class="thumbnail" alt="电影海报">
                <h6 class="text-center subheader"><%= data[i].title %></h6> 
                <div class="row">
                    <h5 class="small-8 small-offset-2 columns">
                            <small class="subheader float-left"><i class="fi-heart"><%= data[i].like.length %></i></small>
                            <small class="subheader float-right"><i class="fi-comments"><%= data[i].comments.length %></i></small>
                    </h5>
                </div>
                <hr/>
            </a>
        </div>
    <% } %>
    </div>
<%- include footer %>
<% include script %>
</body>
</html>