<!DOCTYPE html>
<html>
<head>
     <% include head %>
     <title>电影 - <%= data.title %></title>
     <link rel="stylesheet" href="/static/addon/slimscrol/prettify/prettify.css">
</head>
<body>
<% include header %>
    <div class="row">
        <div class="media-object stack-for-small">
            <section class="media-object-section medium-3 large-3 columns">
                <div>
                  <img class="thumbnail" src= "<%= data.post_src %>">
                </div>
            </section>
            <section class="media-object-section medium-6 large-6 columns">
                <h3><strong><%= data.title %></strong></h3>
                <h5>
                    <div class="small-5 columns" id="like-movie" style="cursor:pointer;">
                        <i class="default-primary fi-like"></i> <span><%= data.like.length %></span>
                    </div> 
                    <div class="small-7 columns" id="dislike-movie" style="cursor:pointer;">
                        <i class="fi-dislike"></i> <span><%= data.dislike.length %></span>
                    </div>
                </h5>
                <p class="form-error is-visible add-like-tip"></p>
                <h6><strong>导演:</strong> <a class="default-blue" href="javascript:void(0)"><%- data.director.join(',') %></a></h6>
                <h6><strong>主演:</strong> <a class="default-blue" href="javascript:void(0)"><%= data.actor.join(',') %></a></h6>
                <h6><strong>影片时长(分钟):</strong> <%= data.duration %></h6>
                <h6><strong>发布者:</strong> <a class="default-blue" href="javascript:void(0)"><%= data.publisher.nickname %></a></h6>
                <h6><strong>本站发布时间: </strong>
                <%= data.date.toLocaleDateString() %>
                </h6>
                <h6><strong>原站播放:</strong> <a target="_blank" class="default-blue" href="<%= data.play_src %>">点我进入</a></h6>

                <!-- JiaThis 社交分享插件 -->
                <div class="jiathis_style">
                    <span class="jiathis_txt">分享到：</span>
                    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                    <a class="jiathis_counter_style"></a>
                </div>
                <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
                <!-- JiaThis Button 结束 -->
            </section>

            <section class="media-object-section medium-3 large-3 columns callout">
                <h5>相关活动</h5><a href="javascript:void(0)" class="button tiny secondary publish-actv">发布活动</a>
                <div class="activity-list"></div>
            </section>
        </div>
    </div>
    <hr>
    <!-- 播放插件 -->
    <div class="row">
        <div class="media-object" data-equalizer>
           <!-- <section class="flex-video widescreen media-object-section medium-9 large-9 show-for-medium columns" data-equalizer-watch>
                <iframe src="<%= data.play_src %>" width="400" height="225" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </section>  -->
            <!-- 剧情介绍 -->
            <section class="media-object-section medium-9 large-9 columns" data-equalizer-watch>
                <h5><strong>剧情描述:</strong></h5>
                <p><%= data.detail %><span>......</span></p>
            </section> 
            <!-- 剧情介绍结束 -->
            <!-- 聊天室 -->
             <section class="media-object-section medium-3 large-3 columns chat-bg" data-equalizer-watch>
                <h6 class="expanded row" style="background-color:#000;color:#fff;opacity:0.8;">在线人数：<span class="online-num"></span></h6>
                <aside class="expanded row">
                    <div class="chatArea">
                        <div class="messages">
                        </div>
                    </div>
                </aside>
                <div class="input-group chat-input-bar">
                    <input type="text" class="input-group-field inputMessage" placeholder="按回车键发送" />
                    <div class="input-group-button show-for-small-only">
                        <input type="button" class="button chat-btn" value="发表">
                    </div>
                </div>
            </section>
            <!-- 聊天时结束 -->
        </div>
    </div>
    <!-- 播放插件结束 -->

    <!-- <hr> -->
    <!-- 剧情介绍 -->
    <!-- <div class="row">
        <div class="columns">
            <h5><strong>剧情描述:</strong></h5>
            <p><%= data.detail %><span>......</span></p>
        </div>
    </div> -->
    <!-- 剧情介绍结束 -->

    <!-- 影评 -->
    <div class="row">
        <hr>
        <div class="columns">
            <ul class="vertical menu comment-list" data-accordion-menu>
                <h5><i class="fi-comments">&nbsp;</i><strong>影片点评:&nbsp;<span class="success badge"><%=data.comments.length %></span></strong>&nbsp;&nbsp;<a href="javascript:void(0)" class="tiny secondary button" id="trigger-comment" <% if(user){%> data-toggle="comment-modal" <%}%>>写影评<i class="fi-pencil"></i></a></h5>
                <% for(var i = 0; i<data.comments.length; i++) { %>
                    <li class="comment-item"> 
                        <a href="javascript:void(0);" class="default-blue success callout"><img class="avator-small" src="<%=data.comments[i].rel_user.avator %>" alt=""/><%= data.comments[i].content.title %></a>
                        <h6>
                        <a href="javascript:void(0)"><%= data.comments[i].rel_user.nickname %></a>
                            <small class="subheader">
                            &nbsp;发表于:
                            <%- data.comments[i].date.toLocaleDateString()%>&nbsp;<%- /\d{2}:\d{2}:\d{2}/.exec(data.comments[i].date.toTimeString())[0] %>
                            </small>
                        </h6>
                        <p class="gener"><%- data.comments[i].content.detail.substr(0,80) %><span>......</span></p>
                        <ul class="menu vertical nested">
                            <li><%= data.comments[i].content.detail %></li>
                        </ul>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
    <!-- 影评结束 -->
    
    <!-- 评论框 -->
    <div class="large reveal" id="comment-modal" data-reveal>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
        <div class="row">
            <h5 class="text-center">新增评论</h5>
            <h6 class="subheader">标题:</h6>
            <form action="#" role="form" id="add-comment-form">
                <input type="text" name="title" placeholder="输入评论标题">
                <input type="hidden" name="movieid" id="c-mid" value=<%= data.movieid %>>
                <br>
                <textarea name="detail" cols="30" rows="10"></textarea>
             <!--    <input type="hidden" name="_csrf"> -->
                <p class="form-error is-visible comment-tip"></p>
            </form>
            <button class="button tiny comment-btn">提交</button>
        </div>
    </div>
    <!-- 评论框结束 -->
    
<% include footer %>
<% include script %>
    <script src="/static/addon/slimscrol/jquery.slimscroll.min.js"></script>
    <script src="/static/js/asset/movie.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/static/js/asset/chat.js"></script>
</body>
</html>